body{
    background-color: #fffefa;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    color: #333333;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fffefa;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes round { 0% { transform: rotate(0); }  100% { transform: rotate(360deg); }}

#loading-logo{
    position: fixed;
    padding: 1%;
    width: 5.2vw;
    height: 5.2vw;
    border-radius: 50%;
    box-shadow: 0 3px 0 #243b6d;
    animation: round 1s infinite linear;
    margin-bottom: 80px;
}
#loading-logo>img{
    opacity: 0;
    z-index: 101;
}
#loading>img{
    height: 9%;
    z-index: 102;
    margin: 1%;
}
#progress-track{
    margin-top: 20px;
    width: 60%;
    background-color: #bacbdf;
    border-radius: 10px;
}
#progress-bar{
    background-color: #d75464;
    height: 10px;
    /*width: 0;*/
    border-radius: 10px;
}
#loading>p{
    line-height: 48px;
    font-size: 20px;
}

/*滚动条样式*/
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #d75464;
}
body::-webkit-scrollbar-track{
    width: 10px;
    border-radius: 10px;
    background-color: #bacbdf;
    /*background-color: #4b6e98;*/
    /*border: #fffefa 1px solid;*/
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner{
    width: 100%;
    position: relative;
}

h1{
    text-align: left;
    color: #fffefa;
    font-weight: 900;
    line-height: 80px;
    font-size: 60px;
}

#cover{
    opacity: 100%;
    z-index: -1;
}

#headline{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.subtitle{
    text-align: center;
    font-size: 32px;
    line-height: 60px;
}

.text-part{
    text-align: justify;
    font-size: 20px;
    line-height: 32px;
    margin: 32px 0;
}

.drop-cap::first-letter{
    font-size: 60px;
    margin: 10px 10px 0 0;
    float: left;
}
.spot::first-letter{
    margin-left: -0.5em;
}

img{
    width: 100%;
}

.caption{
    text-align: center;
    font-size: 16px;
    color: #666666;
    margin-bottom: 14px;
}

.annotation{
    background-color: yellow;
}

.tri-column{
    width: 100%;
    display: flex;
}

.tri-column262>:nth-child(1){
    flex: 2;
    margin-right: 16px;
}

.tri-column262>:nth-child(2){
    flex: 6;
    margin-right: 16px;
}

.tri-column262>:nth-child(3){
    flex: 2;
}

.tri-column314>:nth-child(1){
    flex: 3.6;
    margin-right: 48px;
}

.tri-column314>:nth-child(2){
    flex: 1.4;
    margin-right: 48px;
}

.tri-column314>:nth-child(3){
    flex: 4;
}

.twi-column{
    width: 100%;
    display: flex;
}

.twi-column>:first-child{
    margin: auto 48px auto 0;
}

.twi-column>:last-child{
    margin: auto 0;
}

.twi-column55>*{
    flex: 1;
    width: 50%;
}

.twi-column19>:first-child{
    flex: 1;
}

.twi-column19>:last-child{
    flex: 9;
}

.twi-column91>:first-child{
    flex: 9;
}

.twi-column91>:last-child{
    flex: 1;
}

.twi-column28>:first-child{
    flex: 2.5;
}

.twi-column28>:last-child{
    flex: 7.5;
}

.twi-column82>:first-child{
    flex: 8;
}

.twi-column82>:last-child{
    flex: 2;
}

.twi-column37>:first-child{
    flex: 3;
}

.twi-column37>:last-child{
    flex: 7;
}

.twi-column73>:first-child{
    flex: 7;
}

.twi-column73>:last-child{
    flex: 3;
}

.twi-column64>:first-child{
    flex: 6;
}

.twi-column64>:last-child{
    flex: 4;
}

.twi-column46>:first-child{
    flex: 4;
}

.twi-column46>:last-child{
    flex: 6;
}

.twi-column5545>:first-child{
    flex: 5.5;
}

.twi-column5545>:last-child{
    flex: 4.5;
}

.twi-column5149>:first-child{
    flex: 5.1;
}

.twi-column5149>:last-child{
    flex: 4.9;
}

.twi-column4555>:first-child{
    flex: 4.5;
}

.twi-column4555>:last-child{
    flex: 5.5;
}

.twi-column :first-child>span{
    margin-right: 0;
}

table{
    width: 100%;
}

tr{
    width: 100%;
}
.text-column{
    width: 30%;
    padding-right: 48px;
}
.img-column{
    width: 70%;
}
td>*{
    width: 100%;
}

.footer{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer>div{
    margin: 32px 0 0 0;

}

.footer *{
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
}

.footer h2{
    font-size: 24px;
    margin-bottom: 24px;
}

.footer h3{
    font-size: 18px;
}

.division{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 90px;
    margin: 0 32px;
}

.division>div{
    flex: 1;
    height: 4px;
    background-color: #2b3770;
}

.about-us{
    display: flex;
    width: 100%;
}

.about-us>div{
    padding: 0 48px;
    border-right: 2px #2b3770 solid;
    flex: 1;
    margin-bottom: 72px;
}

.about-us>div:last-child{
    border-right: 0;
}

.copyright{
    font-size: 16px;
    line-height: 32px;
    border-top: 1px #333333 solid;
    text-align: center;
    margin-top: 32px;
}

.user-name{
    /*color: #6eacd3;*/
    /*text-decoration: #6eacd3 underline;*/
}

.wordcloud-description p{
    margin: 54px 0;
}

.nav{
    width: 60%;
    height: 60px;
    position: fixed;
    display: flex;
    padding: 0 20%;
    background-color: #fffefa;
    justify-content: space-between;
    box-shadow:  20px 0 40px #d9d8d5;
}
.nav img{
    height: 100%;
}
.nav>a{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.nav>a>*{
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.nav>a:hover, .nav>a:active{
    border-bottom: #243b6d 4px solid;
    font-weight: 900;
}
.nav>a:first-child:hover, .nav>a:first-child:active{
    border-bottom: 0;
}

.anchor{
    height: 120px;
}

/*数据强调*/
.data{
    font-weight: 900;
    color: #c04440;
    /*font-size: 24px;*/
}
.data::before{
    content: " ";
}
.data.no-stop::before{
    content: none;
}
.data::after{
    content: " ";
}

/*文字强调*/
/*.emphasize{*/
/*    font-weight: 900;*/
/*    color: #4b6e98;*/
/*    !*font-size: 24px;*!*/
/*}*/

/*引号*/
.citing{
    font-weight: 900;
}
.citing-content{
    color: #666666;
    font-style: italic;
}

/*原因*/
/*.reason{*/
/*    color: #4b6e98;*/
/*    text-decoration: underline;*/
/*    text-underline-offset: 4px;*/
/*}*/

.highlight{
    background-color: #9ad3f1;
    color: #000;
    line-height: 16px;
}

.step .highlight{
    background: none;
    color: #333333;
    line-height: 32px;
}

.banner-gif{
    width: 100%;
    margin: 0 auto;
}

.fake{
    display: none;
}

/*滑动图层*/
.scroll {
    position: relative;
    width: 60%;
    margin: 0 auto;
}


article {
    position: relative;
    padding: 0;
    /*max-width: 20rem;*/
    margin: 0 auto;
}

figure {
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    transform: translate3d(0, 0, 0);
    /*background-color: #8a8a8a;*/
    z-index: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.step:last-child {
    margin-bottom: 0;
}

.step{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step p{
    background-color: rgba(255,255,255,0.8);
    width: 120%;
    /*margin-left: -15%;*/
    padding: 20px 40px;
    border-radius: 28px;
    font-size: 16px;
    text-align: center;
}

#market{
    background-image: url("../img/market1.png");
}
#skill{
    background-image: url("../img/skill1.png");
    background-size: 95%;
}
#demand{
    background-image: url("../img/demand1.png");
}
#co-occurrence{
    background-image: url("../img/co-occurrence1.png");
}

.cyp p{
    margin: 10px 0;
}

.moon{
    display: inline-block;
    background-image: url("../img/moon.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 6%;
    margin: 0;
}

.star{
    display: inline-block;
    background-image: url("../img/star.svg");
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 5%;
    padding-bottom: 5%;
    margin: 0;
}

.sun{
    background-image: url("../img/sun.svg");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0;
}

.pieBox{
    height: 50vw;
}

#pieDiv{
    margin: 0;
    flex: 5;
}

#pieText{
    font-size: 16px;
    flex: 2;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#pieDiv>div{
    display: flex;
    flex-direction: column;
}
#interaction{
    width: 46vw;
    transform: translate(0, -100%);
}

#pie{
    width: 100%;
    z-index: 0;
}

#pieSvg{
    z-index: 1;
    transform: translateY(-100%);
}

.ability-description{
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}
.ability-description>*:last-child{
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.parallelism{
    margin: 0 0 16px 40px;
}